@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_gradient {
  background: linear-gradient(
    to bottom,
    #20222F 0%,
    #20222F 33.33%,
    #1D202B 33.33%,
    #1D202B 100%
  );
}

#toggle:checked ~ label div.toggle-circle {
  @apply translate-x-4;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
}